:root {
--color00: #020007;
--color01: #020007;
--color02: #020007;
--color03: #dfd0f0;
--color04: #ffffff;
--color05: #ffffff;
--color06: #ffffff;
--color07: #ffffff;
--color08: #37277d;
--color09: #9845c6;
--color0A: #cb97df;
--color0B: #643aad;
--color0C: #b895dd;
--color0D: #9b49c8;
--color0E: #9865cf;
--color0F: #5b43cd;
}
